
{% load static %}
{% load crispy_forms_tags %}


<form method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Phone Book</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container-fluid">
		<div class="row m-1">
			<div class="col-6 p-1">{{ form.name|as_crispy_field }}</div>
			<div class="col-6 p-1">{{ form.last_name|as_crispy_field }}</div>
		</div>
		<div class="row m-1">		
			<div class="col-6 p-1">{{ form.phone|as_crispy_field }}</div>
			<div class="col-6 p-1">{{ form.email|as_crispy_field }}</div>
		</div>	
		<div class="row m-1">					
			<div class="col-6 p-1">{{ form.address|as_crispy_field }}</div>
		</div>
		<div class="row m-1">
			<div class="col-12 p-1">{{ form.note|as_crispy_field }}</div>				
		</div>
	</div>	
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>

